body {
  color: var(--c-text-black);
  font-family: var(--font-family-light);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.eyebrow {
  color: var(--c-gray-light);
  font-size: 1rem;
  font-family: var(--font-family-medium);
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

textarea {
  width: 100%;
}

main {
  display: block;
}

details summary:hover {
  cursor: pointer;
}

details:active, details:focus {
  outline: none;
}

:focus {
  outline-color: var(--c-blue-xxlight);
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
  width: 75%;
  margin: var(--size-l) auto;
}

code {
  background: var(--c-gray-xlight);
  padding: 0 3px;
  border-radius: 4px;
}

pre {
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  position: relative;
  padding: 0;
  margin: 0;
  code {
    padding: 1.75em;
    background: var(--c-black);
    color: white;
    width: 100%;
    display: block;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    border-radius: 0;
  }
}

/* stylelint-disable selector-max-id */
#app {
  min-height: 100vh;
}
