@font-face {
  font-family: "AvenirLight";
  src: url("../assets/fonts/avenir--light.woff2") format("woff2"),
       url("../assets/fonts/avenir--light.woff") format("woff"),
       url("../assets/fonts/avenir--light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirMedium";
  src: url("../assets/fonts/avenir--medium.woff2") format("woff2"),
       url("../assets/fonts/avenir--medium.woff") format("woff"),
       url("../assets/fonts/avenir--medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DinCondensed";
  src: url("../assets/fonts/din-condensed--regular.woff2") format("woff2"),
       url("../assets/fonts/din-condensed--regular.woff") format("woff"),
       url("../assets/fonts/din-condensed--regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
