html {
  font-size: calc(var(--base-font-size) * 0.77);

  @media screen and (min-width: $bp-small) {
    font-size: calc(var(--base-font-size) * 0.88);
  }
  @media screen and (min-width: $bp-xlarge) {
    font-size: var(--base-font-size);
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--c-blue);
  margin: 0 0 var(--space-m);
  line-height: 1.15;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  p + & {
    margin-top: var(--space-l);
  }
}

h1, .h1 {
  font-size: var(--space-xl);
}

h2, .h2 {
  font-size: calc(var(--space-l) + var(--space-s));
}

h3, .h3 {
  font-size: var(--space-l);
}

h4, .h4 {
  font-size: var(--space-m);
}

h5, .h5 {
  font-size: 1rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  color: var(--c-text-black);
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;

  & + p {
    margin-top: var(--space-xs);
  }
}


ul, ol {
  margin: 0 0 1rem;
}

li {
  margin: 0 0 1rem;
}

a, a:link {
  color: var(--c-text-link);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--c-text-link-hover);
    text-decoration: underline;
  }

  &:visited {
    color: var(--c-text-link);
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
  border-left: 3px solid var(--c-shade);
  margin: 2rem;
  padding: 2.25rem 4rem;
}
