html {
  font-size: var(--font-base-size);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: normal;
  margin: 1em 0 0; // `em` make spacing proportionate to font-size
  line-height: 1.15;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  // p + & {
  //   margin-top: var(--space-l);
  // }
}

h1,
.h1 {
  font-size: var(--space-xl);
}

h2,
.h2 {
  font-size: calc(var(--space-l) + var(--space-s));
}

h3,
.h3 {
  font-size: var(--space-l);
}

h4,
.h4 {
  font-size: var(--space-m);
  font-weight: bold;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  color: var(--c-text-black);
  font-size: 1rem;
  line-height: 1.4;
  margin: 0.5em 0 0;

  // & + p {
  //   margin-top: var(--space-xs);
  // }
  &:first-child {
    margin-top: 0;
  }
}

ul,
ol {
  margin: 0.5em 0 0;
  &:first-child {
    margin-top: 0;
  }
}

li {
  margin: 0.5em 0 0;
  &:first-child {
    margin-top: 0;
  }
}

a,
a:link {
  color: var(--c-text-link);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--c-text-link-hover);
    text-decoration: underline;
  }

  &:visited {
    color: var(--c-text-link);
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
  border-left: 3px solid var(--c-shade);
  margin: 2em;
  padding: 2.25em 4em;
}

.ks-u-screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ks-u-body-small {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}
