:root {
  /* Layout */
  --c-bg-brand: #16394B;
  --c-bg: #FFFFFF;
  --c-frame: #DDDDDD;
  --c-shade: #F8F8F8;

  /* Text */
  --c-text-default: #222222;
  --c-text-subdued: #888888;
  --c-text-inverse: var(--c-bg);
  --c-text-link: #008FC1;
  --c-text-link-hover: #1AA6D7;

  /* State */
  --c-success: #00BC62;
  --c-warning: #F7901E;
  --c-danger: #CB261B;
  --c-error: var(--c-danger);
  --c-focus: #00A7CC;
  --c-active: var(--c-focus);
  --c-active-highlight: rgba(0, 167, 204, 0.1);

  /* Button */
  --c-button-standard: var(--c-shade);
  --c-button-standard-hover: #EEEEEE;
  --c-button-standard-active: #E3E3E3;
  --c-button-primary: #006FB6;
  --c-button-primary-hover: #1486D0;
  --c-button-primary-active: #0061A0;
  --c-button-primary-danger: var(--c-danger);
  --c-button-primary-danger-hover: #DC2D20;
  --c-button-primary-danger-active: #A50F05;
  --c-button-cancel: #666666;
  --c-button-cancel-hover: var(--c-danger);
  --c-button-cancel-active: var(--c-button-primary-danger-active);

  /* Spacing */
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 40px;
  --space-xxl: 64px;
  --space-xxxl: 120px;

  /* Font Families */
  --font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --font-base-size: var(--space-m);
  --font-size-s: var(--space-s);
  --line-height-s: var(--space-m);

  /* Border Radius */
  --radius-s: var(--space-xxxs);
  --radius-m: var(--space-xxs);
  --radius-l: var(--space-xs);

  /* Shadows */
  --c-shadow: rgba(0, 0, 0, 0.24);
  --shadow: 0px var(--space-xxxs) var(--space-xs) var(--c-shadow);
  --floating-btn-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);

  /* Layout */
  --sidebar-width: 360px;

  /* ---------- */
  /* Depricated */
  /* ---------- */
  --c-white: #ffffff;
  --c-black: #000000;
  --c-blue: hsl(200, 55%, 19%);
  --c-blue-light: hsl(200, 55%, 45%);
  --c-blue-xlight: hsl(165, 26%, 85%);
  --c-blue-xxlight: hsl(198, 7%, 96%);
  --c-green: hsl(159, 20%, 17%);
  --c-green-ghost: hsl(120, 100%, 25%);
  --c-yellow: hsl(52, 74%, 54%);
  --c-yellow-light: hsl(52, 77%, 88%);
  --c-yellow-xlight: hsl(52, 7%, 100%);
  --c-yellow-ghost: hsl(30, 100%, 50%);
  --c-gray: hsl(240, 3%, 85%);
  --c-gray-xxdark: hsl(0, 0%, 15%);
  --c-gray-xdark: hsl(0, 0%, 30%);
  --c-gray-dark: hsl(0, 0%, 50%);
  --c-gray-light: hsl(0, 0%, 60%);
  --c-gray-xlight: hsl(0, 0%, 80%);
  --c-gray-xxlight: hsl(0, 0%, 95%);
  --c-red-ghost: hsl(0, 100%, 50%);
  --c-bg-dark: var(--c-blue);
  --c-text-black: var(--c-black);
  --c-text-white: var(--c-white);
  --c-primary: var(--c-blue);
  --c-secondary: var(--c-green);
  --c-border: var(--c-gray);
  /*--c-active: var(--c-yellow);*/
  --base-font-size: 18px;
  --size-xxs: 2px;
  --size-xs: 4px;
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 32px;
  --size-xl: 50px;
  --size-xxl: 64px;
  --util-border: solid 1px var(--c-border);
  --util-btn-height: 33px;
  --anim-speed-m: 0.3s;
  --anim-function: 'ease-in-out';
  --anim-base: var(--anim-speed-m) var(--anim-function);
}
