:root body {
  /* Layout */
  --c-bg-brand: #16394B;
  --c-bg: #FFFFFF;
  --c-frame: #DDDDDD;
  --c-shade: #F8F8F8;

  /* Text */
  --c-text-default: #222222;
  --c-text-subdued: #888888;
  --c-text-inverse: var(--c-bg);
  --c-text-link: #008FC1;
  --c-text-link-hover: #1AA6D7;

  /* State */
  --c-success: #00BC62;
  --c-warning: #F7901E;
  --c-danger: #CB261B;
  --c-error: var(--c-danger);
  --c-focus: #00A7CC;
  --c-active: var(--c-focus);
  --c-active-highlight: rgba(0, 167, 204, 0.1);

  /* Button */
  --c-button-standard: var(--c-shade);
  --c-button-standard-hover: #EEEEEE;
  --c-button-standard-active: #E3E3E3;
  --c-button-primary: #006FB6;
  --c-button-primary-hover: #1486D0;
  --c-button-primary-active: #0061A0;
  --c-button-primary-danger: var(--c-danger);
  --c-button-primary-danger-hover: #DC2D20;
  --c-button-primary-danger-active: #A50F05;
  --c-button-cancel: #666666;
  --c-button-cancel-hover: var(--c-danger);
  --c-button-cancel-active: var(--c-button-primary-danger-active);

  /* Spacing */
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 40px;
  --space-xxl: 64px;
  --space-xxxl: 120px;

  /* Font Families */
  --font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --font-family--code: 'monospace'; /* @todo better code font */
  --font-base-size: 16px;
  --font-size-s: 12px;
  --font-size-m: var(--font-base-size);
  --line-height-s: var(--space-m);

  /* Border Radius */
  --radius-s: var(--space-xxxs);
  --radius-m: var(--space-xxs);
  --radius-l: var(--space-xs);

  /* Shadows */
  --c-shadow: rgba(0, 0, 0, 0.24);
  --shadow: 0px var(--space-xxxs) var(--space-xs) var(--c-shadow);
  --floating-btn-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);

  /* Layout */
  --sidebar-width: 360px;
  --demo-item-size: 120;

  /* Animation */
  --anim-speed-m: 0.3s;
  --anim-function: 'ease-in-out';
  --anim-base: var(--anim-speed-m) var(--anim-function);
}
