/examples/create-knapsack-results
node_modules
.DS_Store
.idea
vendor
dist
*.log
/crux
/cypress/videos
/cypress/screenshots
/docs-site/build
/docs-site/static/pkgs
/docs-site/.docusaurus
tsconfig.tsbuildinfo
/knapsack/src/json-schemas/*.json
/knapsack/src/json-schemas/*.ts
dist--mjs
dist--cjs
