.ks-popover {
  &__children {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
  }
  &__box {

    &-inner {
      padding: var(--space-m);
      display: block;
      // margin: 4px; // needed b/c we're surrounded by an `overflow: hidden` & it's cutting off our `box-shadow`
      border-radius: var(--radius-l);
      box-shadow: var(--shadow);
      background-color: var(--c-bg);
      z-index: 200;
      position: relative;
    }
  }
}
