<div class="jumbotron">
  <h1 class="display-4">{{ title }}</h1>
  <p class="lead">{{ body }}</p>
  {% if ctaText %}
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">{{ ctaText }}</a>
    </p>
  {% endif %}
</div>
