/* stylelint-disable selector-max-class */
/* stylelint-disable max-nesting-depth */
.ks-form-array-item {
  padding: 0.25rem;
  &--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .ks-custom-field {
      margin: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(odd) {
    background-color: var(--c-frame);
  }

  &:nth-child(even) {
    background-color: var(--c-shade);
  }

  .field {
    padding-right: 0.25rem;
    > div.custom-object {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      > div.custom-object-item {
        padding: 0;
        flex-grow: 1;
        + .custom-object-item {
          width: 100%;
        }
      }
    }
  }

  &:not(:last-child) {
    // padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--c-frame);
  }
}
