.ReactTable .rt-table .rt-tbody .rt-td:first-child {
  background: unset;
}

.schema-table__title {
  margin-right: 10px;
}

.schema-table__required-label {
  color: #e3522d;
}

.schema-table .rt-th {
  background: hsl(0,0%,95%);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: hsl(200,55%,19%);
}
