.ks-schema-table {
  margin-top: var(--space-m);
}

/* stylelint-disable selector-max-class */
.ReactTable .rt-table .rt-tbody .rt-td:first-child {
  background: unset;
}

.schema-table__title {
  margin-right: var(--space-s);
}

.schema-table__required-label {
  color: var(--c-danger);
}

.schema-table .rt-th {
  background: var(--c-shade);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: var(--c-text-default);
}
