.ks-dtd-font-size {
  &--listed {
    border-bottom: 1px solid var(--c-frame);
    padding-bottom: var(--space-m);
    margin-bottom: var(--space-l);
  }

  blockquote::first-line {
    font-weight: 800;
  }
}
