.ks-page-with-sidebar {
  display: grid;
  grid-template-rows: calc(var(--space-xl) * 2) 1fr;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'header header header'
    'sidebar main details';
  height: 100vh;
  transition: all ease 0.15s;

  &--sidebar-collapsed {
    .ks-page-with-sidebar__sidebar {
      width: 0;
      padding: 0;
    }
  }

  &--details-collapsed {
    .ks-page-with-sidebar__details {
      width: 0;
      padding: 0;
    }
  }

  .ks-site-header {
    grid-area: header;
  }

  &__page {
    position: relative;
    grid-area: main;
    height: 100%;
    overflow: auto;
    padding: var(--space-xl);

    // Emulate bottom padding
    &:after {
      content: ' ';
      display: block;
      width: 100%;
      height: var(--space-xl);
    }
  }

  &__details {
    grid-area: details;
    width: calc(328px + (var(--size-m) * 2));
    padding: var(--size-m);
    border-left: solid 1px var(--c-border);
    transition: width ease-in 0.3s;
  }
}

.ks-page-with-sidebar__sidebar {
  grid-area: sidebar;
  transition: width ease-in 0.15s;
  width: var(--sidebar-width);
  display: flex;
  height: calc(100vh - (var(--space-xl) * 2));
  flex-direction: column;
  // transition: left ease 0.6s;
  border-right: 1px solid var(--c-frame);
  position: relative;
  z-index: 1;

  h4:not(:first-child) {
    white-space: nowrap;
    margin: 1.25rem 0 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .field-array .form-group {
    margin-left: 0;
  }

  & > * {
    opacity: 1;
  }

  &--collapsed > * {
    opacity: 0;
  }

  &__collapse-ctrl {
    position: absolute;
    left: 100%;
    top: var(--space-m);
    opacity: 1;

    button {
      width: calc(var(--space-l) + 2px);
      border-radius: 0 var(--space-xxs) var(--space-xxs) 0;
    }

    svg {
      transform: rotate(90deg);
      transition: transform 0.3s ease;
    }

    &--collapsed {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}
