.ks-page-with-sidebar {
  display: grid;
  grid-template-rows: calc(var(--space-xl) * 2) 1fr;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  height: 100vh;
  transition: all ease 0.3s;

  &--sidebar-collapsed {
    grid-template-columns: var(--space-l) 1fr;
  }

  > :first-child {
    grid-area: header;
  }

  > :nth-child(3) {
    grid-area: main;
    height: 100%;
    overflow: auto;
    padding: var(--space-xl);
  }
}

.ks-page-with-sidebar__sidebar {
  grid-area: sidebar;

  display: flex;
  height: calc(100vh - (var(--space-xl) * 2));
  flex-direction: column;
  transition: left ease 0.6s;
  border-right: 1px solid var(--c-frame);
  position: relative;

  h4:not(:first-child) {
    white-space: nowrap;
    margin: 1.25rem 0 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .field-array .form-group {
    margin-left: 0;
  }

  & > * {
    opacity: 1;
  }

  &--collapsed > * {
    opacity: 0;
  }

  &__collapse-ctrl {
    position: absolute;
    left: 100%;
    top: var(--space-m);
    width: calc(var(--space-l) + 2px);
    border-radius: 0 var(--space-xxs) var(--space-xxs) 0;
    opacity: 1;

    svg {
      transform: rotate(90deg);
      transition: transform 0.3s ease;
    }

    &--collapsed {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}
