<div>
  <h3>I'm just a silly template demo, but I can include the button:</h3>
  {% include '@components/button.twig' with {
    text: "button.text",
    url: "#",
    style: "primary",
  } only %}
</div>
