.ks-template-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__title {}
  &__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.7rem;
    margin-left: auto;

    & > * {
      margin: 0 0.25rem;
    }
  }
}
