.ks-template-view__overview-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

// Code block
.ks-template-view__code-block-wrapper {
  margin-bottom: var(--space-l);
}
