@import '../../global/breakpoints';

.ks-template-view__overview-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

// Code block
.ks-template-view__code-block-wrapper {
  margin-bottom: var(--space-l);
}

// Props table
.ks-template-view__properties-table {
  margin-bottom: var(--space-m);

  p {
    margin-bottom: var(--space-m);
  }
}
