@import '../../dist/ks-design-tokens.scss';

.ks-grid {
  --ks-grid-column-count: 1;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  grid-auto-flow: row;
  grid-template-columns: repeat(var(--ks-grid-column-count), auto);
  &--item-size {
    &-s {
      @media (min-width: $bp-xsmall) {
        --ks-grid-column-count: 2;
      }
      @media (min-width: $bp-medium) {
        --ks-grid-column-count: 3;
      }
      @media (min-width: $bp-large) {
        --ks-grid-column-count: 4;
      }
    }
    &-m {
      @media screen and (min-width: $bp-small) {
        --ks-grid-column-count: 2;
      }
      @media (min-width: $bp-large) {
        --ks-grid-column-count: 4;
      }
    }
    &-l {
      @media (min-width: $bp-xlarge) {
        --ks-grid-column-count: 2;
      }
      @media (min-width: $bp-xxxlarge) {
        --ks-grid-column-count: 3;
      }
    }
  }
  &--gap-size {
    &-s {
      gap: var(--space-s);
    }
    &-m {
      gap: var(--space-m);
    }
    &-l {
      gap: var(--space-l);
    }
  }
  & .ks-grid__item {
    > * {
      margin: 0;
    }
  }
}
