@import '../../dist/ks-design-tokens.scss';

.ks-grid {
  --ks-grid-item-size: 100px;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  grid-auto-flow: row;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--ks-grid-item-size), 1fr)
  );
  // grid-template-columns: repeat(var(--ks-grid-column-count), auto);
  &--item-size {
    &-s {
      --ks-grid-item-size: 200px;
    }
    &-m {
      --ks-grid-item-size: 300px;
    }
    &-l {
      --ks-grid-item-size: 500px;
    }
  }
  &--gap-size {
    &-s {
      gap: var(--space-s);
    }
    &-m {
      gap: var(--space-m);
    }
    &-l {
      gap: var(--space-l);
    }
  }
  & .ks-grid__item {
    > * {
      margin: 0;
    }
  }
}
