/* stylelint-disable function-calc-no-invalid */
.ks-custom-slice {
  &--dragging {
    opacity: 0;
  }

  &__content-wrapper {
    max-width: calc(var(--font-base-size) * 50);
    margin: 0 auto var(--space-l);
    position: relative;
  }

  &__controls {
    border: 1px solid var(--c-active);

    position: absolute;
    top: calc(var(--space-xxs) * -1);
    right: calc(var(--space-xxs) * -1);
    left: calc(var(--space-xxs) * -1);
    bottom: calc(var(--space-xxs) * -1);

    opacity: 0;
    .ks-custom-slice--edit-ui-visible & {
      opacity: 1;
    }
  }

  // start individual controls
  &__handle {
    color: var(--c-active);
    position: absolute;
    top: var(--space-xxs);
    left: calc((var(--space-l) + var(--space-xxs)) * -1);

    &:hover {
      cursor: grab;
    }
    .ks-custom-slice--dragging & {
      cursor: grabbing;
    }
  }
  &__move {
    position: absolute;
    line-height: 1;
    left: calc(var(--space-xxs) * -1);

    &.--move-up {
      bottom: 100%;
    }
    &.--move-down {
      top: 100%;
    }
  }
  &__slice-actions {
    position: absolute;
    top: calc((var(--space-l) / 2) * -1);
    right: var(--space-m);
    z-index: 1;
    white-space: nowrap;

    & > div {
      background-color: var(--c-bg);
      border: 1px solid var(--c-active);
      border-radius: var(--radius-m);
      width: var(--space-l);
      height: var(--space-l);
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    & > div + div {
      margin-left: var(--space-xs);
    }
  }
  // end individual controls

  &__content {}
}
/* stylelint-enable function-calc-no-invalid */
