.ks-footer {
  padding: 1.5rem;
  background-color: var(--c-bg-brand);
  color: var(--c-text-inverse);
  @media (max-width: var(--bp-medium)) {
    padding: 1rem;
  }
  p,
  &.ks-footer a {
    // double selector for override
    color: var(--c-text-inverse);
  }
  ul,
  li {
    margin-bottom: var(--space-xxxs);
  }

  &__inner-wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: var(--bp-medium)) {
      flex-direction: column;
    }
  }

  &__menu {
    display: flex;
    list-style: none;
    padding: 0;
    @media (max-width: var(--bp-medium)) {
      display: block;
      text-align: center;
    }
  }

  &__menu-item {
    display: inline-block;
    & + li {
      margin-left: 1.5rem;
    }
    a:link,
    a:visited {
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
  }

  &__built-on {
    position: relative;
    @media (max-width: var(--bp-medium)) {
      margin: 12px auto 0;
    }

    img {
      height: 47px;
      width: auto;
      display: block;
    }

    &__inner {
      font-size: 12px;
      line-height: 1.25;
      text-align: center;
    }
  }

  &__sub-footer {
    display: flex;
    justify-content: space-between;
    color: white;
    @media (max-width: 649px) {
      display: block;
      text-align: center;
      max-width: 225px;
      margin: var(--space-m) auto 0;
    }
    p {
      font-size: 0.65rem;
      a {
        text-decoration: underline;
      }
    }
    p,
    a {
      color: var(--c-text-inverse);
    }
  }
}
