.ks-inline-edit {
  &__controls {
    line-height: 1rem;
    vertical-align: middle;
    padding-left: var(--space-xs);

    display: none;
  }
}

.ks-inline-edit--visible {
  .ks-inline-edit__text {
    vertical-align: middle;
  }

  .ks-inline-edit__controls {
    display: inline-block;
  }
}

.ks-inline-edit--editing {
  .ks-inline-edit__text {
    border-bottom: solid var(--space-xxxs) var(--c-active);
    outline: none;
  }

  .ks-inline-edit__controls {
    display: inline-block;

    button + button {
      margin-left: var(--space-xxs);
    }
  }
}
