.ks-inline-edit-text {
  &__controls {
    display: none;
  }
}

.ks-inline-edit-text--controls-visible {
  border: dotted 1px var(--c-gray-light);
  .ks-inline-edit-text__controls {
    display: inline-block;
  }
}

.ks-inline-edit-text--editing {
  border: dotted 1px var(--c-active);
}
