.ks-pattern-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* stylelint-disable function-calc-no-invalid */
  margin-right: calc(var(--space-m) * -1);
  /* stylelint-enable function-calc-no-invalid */

  &__item {
    margin-bottom: var(--space-m);
    margin-right: var(--space-m);
  }
}
