.ks-site-header {
  background-color: var(--c-bg-brand);
  min-height: calc(var(--space-xl) * 2);
  padding: var(--space-m) 0;

  // @todo do a MUCH better small screen menu
  @media screen and (min-width: 700px) {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    font-weight: normal;
    margin: 0 0 0 var(--space-m);
    display: flex;
    align-items: center;
  }
  &__logo {
    height: calc(var(--space-xl) + var(--space-xs));
    margin-right: var(--space-m);
    width: auto;
  }
  & &__header-link { // extra `&` for stronger selector
    color: var(--c-text-inverse);
    text-decoration: none;
  }

  &__nav {
    list-style: none;
    display: flex;
    margin: 0 var(--space-xl);
    padding: var(--space-xxs) 0;
    align-items: center;
  }

  &__nav-item {
    position: relative;
    margin: 0;
    &:not(:last-child) {
      padding-right: var(--space-xl);
    }
  }

  &__nav-link {
    display: inline-block;
    border-bottom: var(--space-xxxs) solid transparent;
    border-top: var(--space-xxxs) solid transparent;
    &[aria-current='page'] {
      border-bottom-color: var(--c-text-inverse);
    }
  }

  & &__nav-link { // extra `&` for stronger selector
    color: var(--c-text-white);
    text-decoration: none;
  }

  &__hamburger {
    color: var(--c-text-white);
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__hamburger-close {
    color: var(--c-text-white);
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
