.ks-site-header {
  background-color: var(--c-bg-dark);
  padding: 1.5rem 2rem;
  font-family: var(--font-family-medium);

  // @todo do a MUCH better small screen menu
  @media screen and (min-width: 700px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    z-index: 9999;
  }
  ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  li {
    position: relative;
    margin: 0;
    &:not(:last-child) {
      padding-right: 35px;
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
    &[aria-current='page'] {
      font-weight: bold;
      &:before {
        color: var(--c-active);
        content: '>';
        position: absolute;
        left: -15px;
        font-weight: bold;
      }
    }
  }

  &__mobile-nav {
    display: block;
    ul {
      background-color: var(--c-bg-dark);
      z-index: 103;
      display: block;
      text-align: right;
      position: absolute;
      right: 0;
      top: 50px;
      padding: 2rem 1rem 2rem 1rem;
      width: 100%;
    }
    li {
      padding: 1rem 1rem 1rem 8rem;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      max-width: 400px;
      margin-left: auto;
      padding-right: 35px;
    }
    a {
      position: relative;
    }
  }

  & &__header-link { // extra `&` for stronger selector
    color: var(--c-text-white);
    text-decoration: none;
  }

  & &__nav-link { // extra `&` for stronger selector
    color: var(--c-text-white);
    text-decoration: none;
  }

  &__hamburger {
    color: var(--c-text-white);
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__hamburger-close {
    color: var(--c-text-white);
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__logo {
    height: 30px;
    margin-right: 1.25rem;
    width: auto;
    @media screen and (min-width: var(--bp-small)) {
      height: 38px;
      margin-right: 1.5rem;
    }
  }
}
