.ks-template-thumbnail {
  background-color: var(--c-bg);
  position: relative;
  overflow: hidden;

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    cursor: pointer;
  }

  &__template {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
