.ks-template__iframe {
  width: 1px;
  // Using min-width to set the width of the iFrame, works around an issue in iOS that can prevent the iFrame from sizing correctly
  min-width: 100%;
  overflow: auto;
  vertical-align: middle;
  border: none;
}

.ks-template__iframe-wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.ks-template__resizable {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  resize: horizontal;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  background-color: rgba(77, 77, 77, 0.15);

  &__size-tab {
    position: absolute;
    bottom: 0;
    right: 20px;
    padding: 3px;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
  }
}
