.ks-btn {
  border: none;
  cursor: pointer;
  padding: 0.6em 0.8em;
  line-height: 1;
  border-radius: var(--radius-m);
  color: var(--c-text-black);
  background-color: var(--c-button-standard);
  // if a button follow a button, put some space between
  & + & {
    margin-left: var(--size-s);
  }

  &--kind {
    &-primary {
      background-color: var(--c-button-primary);
      color: var(--c-text-white);
    }
    &-secondary {
      background-color: var(--c-gray-xlight);
    }
  }

  &--size {
    &-s {
      font-size: 0.65rem;
    }
    &-m {
      font-size: 0.8rem;
    }
    &-l {
      font-size: 1rem;
    }
  }

  &[disabled],
  &.ks-btn--disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
