.k-btn {
  height: 33px;
  border: none;
  background-color: var(--c-gray-xxlight);
  color: var(--c-text-black);
  font-size: 0.75rem;
  cursor: pointer;

  &.k-btn--primary {
    background-color: var(--c-primary);
    color: var(--c-text-white);
  }

  &[disabled]
  &.k-btn--disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
