.k-checkbox-input-wrapper {
  p {
    display: none;
  }

  label {
    height: 33px;
    display: flex;
    align-items: center;
  }

  input {
    margin-right: 8px;
    + span {
      font-size: 0.75rem;
    }
  }
}
