.ks-figure {
  display: inline-block;
  vertical-align: top;
  border: 1px solid var(--c-frame);
  border-radius: var(--space-xs);
  overflow: hidden;

  &__figure {
    margin: 0;
  }

  &__caption {
    background-color: var(--c-shade);
    border-top: 1px solid var(--c-frame);
    padding: var(--space-xs);
  }

  &--is-link {
    &:hover {
      cursor: pointer;
    }
    .ks-figure__caption,
    .ks-figure__caption p {
      color: var(--c-text-link);
    }
    &:hover,
    &:focus {
      .ks-figure__caption,
      .ks-figure__caption p {
        color: var(--c-text-link-hover);
      }
    }
  }
}
