.ks-icon {
  stroke: currentColor;

  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: middle;

  &--size-s {
    width: var(--space-m);
    height: var(--space-m);
    //stroke-width: 1; // looks too thin
  }

  &--size-m {
    width: var(--space-l);
    height: var(--space-l);
  }
}
