.ks-side-nav-item {
  background-color: var(--c-bg);
  border-left: 0 solid transparent;
  border-right: var(--space-xxxs) solid transparent;
  height: var(--space-xl);
  display: flex;
  align-items: center;

  &--clickable {
    border-left-width: var(--space-xs);

    &:hover,
    &:focus {
      background-color: var(--c-active-highlight);
    }
  }

  &--active {
    background-color: var(--c-active-highlight);
    border-left-color: var(--c-active);
  }

  &--is-search-focus {
    border-left-color: var(--c-active-highlight);
  }

  &--is-search-match {
    box-shadow: inset 0 0 0 var(--space-xxxs) var(--c-focus);
  }

  &__folder-icon {
    padding-left: var(--space-xs);
    margin-bottom: var(--space-xxxs);

    & + .ks-side-nav-item__title-container {
      padding-left: var(--space-xxs);
    }
  }

  &__title-container {
    flex: 1;
    /* Hack to allow `text-overflow: ellipsis` on internal flex items */
    min-width: 0;
    display: flex;
    align-items: center;
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);

    &__title {
      flex: 1;
      /* Hack to allow `text-overflow: ellipsis` on internal flex items */
      min-width: 0;
    }

    a,
    p {
      color: var(--c-text-default);
      line-height: var(--space-xl);
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a:hover,
    a:focus {
      color: var(--c-text-default);
      text-decoration: none;
    }

    &--has-children {
      font-weight: bold;
    }
  }

  .ks-popover__children {
    margin-left: var(--space-xs);
    & + .ks-popover__children {
      margin-left: var(--space-xxxs);
    }
  }

  &__collapse-btn {
    margin-right: var(--space-xs);
    transform: rotate(0deg);
    transition: transform 200ms ease;

    button {
      color: var(--c-text-default);
    }

    &--collapsed {
      transform: rotate(90deg);
    }
  }

  &__drag-handle {
    color: var(--c-text-subdued);
    cursor: move;
    padding-bottom: var(--space-xxxs);
    display: none;
  }

  &--editing {
    border: var(--space-xxxs) solid transparent;

    .ks-side-nav-item__drag-handle {
      display: inline-block;
      vertical-align: middle;
    }

    .ks-side-nav-item__folder-icon {
      padding-left: 0;

      & + .ks-side-nav-item__title-container {
        padding-left: var(--space-xxxs);
      }
    }

    .ks-side-nav-item__title-container {
      padding-left: 0;
      p {
        line-height: calc(var(--space-xl) - (var(--space-xxxs) * 2));
        width: auto;
      }
    }

    .ks-popover__children {
      margin-left: 0;
      & + .ks-popover__children {
        margin-left: var(--space-xxxs);
      }
      & + *:not(.ks-popover__children) {
        margin-left: var(--space-xs);
      }
    }

    .ks-side-nav-item__actions {
      opacity: 0;
      margin-left: var(--space-xxs);
      display: inline-flex;
      align-items: center;
    }

    &:hover,
    &:focus {
      background-color: var(--c-button-standard);

      .ks-side-nav-item__drag-handle {
        color: var(--c-text-default);
      }

      .ks-side-nav-item__actions {
        opacity: 1;
      }
    }

    &.ks-side-nav-item--dragging {
      background-color: var(--c-button-standard);
      border-color: var(--c-active);
      opacity: 0.8;
      box-shadow: var(--shadow);

      .ks-side-nav-item__drag-handle {
        color: var(--c-text-default);
      }

      .ks-side-nav-item__actions {
        display: none;
      }
    }
  }
}
