.ks-status-message {
  padding: var(--space-xs) var(--space-l) var(--space-xxs) var(--space-m);
  line-height: 1;
  position: relative;
  &__content {
    opacity: 0.9; // blends it in with the background just a touch
  }
  &__close {
    position: absolute;
    top: var(--space-xxs);
    right: var(--space-xxs);
  }
}
