.ks-toggle {
  p {
    display: none;
  }

  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
  }

  .ks-checkbox-label {
    margin-left: var(--space-xxs, 0.25rem);
  }

  .ks-checkbox-toggler {
    align-items: center;
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: var(--c-button-cancel);
    display: inline-block;
    border-radius: 50px;
    position: relative;
  }

  .ks-checkbox-toggler:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: var(--c-bg);
    border-radius: 22px;
    transition: 0.3s;
  }

  input:checked + .ks-checkbox-toggler {
    background: var(--c-active);
  }

  input:checked + .ks-checkbox-toggler:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 32px;
  }
}
