// customizes the `<Authenticator>` & all sub-components brought in by `aws-amplify-react`
.ks-u-amplify-wrapper {
  --button-background-color: var(--c-button-primary);
  //--button-color: var(--white);
  --button-click: var(--c-button-primary-active);
  --link-color: var(--c-text-link);
  //--form-color: var(--white);
  --input-color: var(--c-text-subdued);
  //--input-background-color: var(--white);

  //--font-family: "Amazon Ember","Helvetica Neue Light","Helvetica Neue","Helvetica" ,"Arial","sans-serif";
  --body-background: white;

  //--component-width-desktop: 460px;
  //--component-width-mobile: 100%;

  --color-primary: var(--c-button-primary);
  --color-primary-accent: var(--c-button-primary-hover);
  --color-primary-highlight: var(--c-button-primary-active);

  //--color-background: #232F3E;

  --color-secondary: var(--c-button-standard);
  --color-secondary-accent: var(--c-frame);

  --color-danger: var(--c-danger);
  --color-error: var(--c-danger);

  //--color-accent-brown: #828282;
  //--color-accent-blue: #E1E4EA;

  //--gradient-blaze: linear-gradient(270deg, #FFC300 0%, #FF9000 100%);

  --color-blue: var(--c-button-primary);
  // --color-purple: ;
  --color-gray: var(--c-frame);
  --color-white: white;

  --input-border: var(--c-frame);
  --input-padding: var(--space-xxs) var(--space-xs);

  --box-shadow: var(--shadow);
  --button-height: var(--space-xl);

  --ion-color-primary-tint: var(--c-button-primary-active);
}
