.ks-select {
  width: 100%;

  &--label-inline {
    display: flex;
    align-items: center;
  }

  &--size-s {
    font-size: var(--font-size-s);
  }

  &__label-text {
    display: block;
    line-height: var(--space-l);

    .ks-select--label-inline & {
      display: inline-block;
      margin-right: var(--space-xxs);
      margin-bottom: 0;

      &:after {
        content: ':';
      }
    }
  }

  &__wrapper {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0;

    .ks-select--label-inline & {
      display: inline-block;
      flex: 1;
    }

    // Variant display required for select element created by custom fields to span containing form
    &--variant {
      display: inherit;
    }

    /* Styling for general select required when select is created
     as custom field and receives no '.ks-select' class
    */
    select {
      cursor: pointer;
      position: relative;
      width: 100%;
      //background-color: transparent;
      border: 1px solid var(--c-frame);
      border-radius: var(--radius-m);
      margin: auto 0;
      padding: 0.3em 2em 0.3em 1em;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      z-index: 1;
      .ks-select--size-s & {
        height: 24px;
        font-size: var(--font-size-s);
      }
      .ks-select--size-m & {
        height: 40px;
        font-size: var(--font-base-size);
      }
    }
  }

  &__option--has-icon {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      vertical-align: middle;
    }

    &__icon {
      height: var(--space-m);
      margin-right: var(--space-xs);
      svg {
        width: auto;
        height: 100%;
      }
      .ks-select--size-s & {
        height: var(--space-s);
        margin-right: var(--space-xxs);
      }
    }
  }

  // Depricated, can be used with general select.
  &__icon {
    cursor: pointer;
    position: absolute;
    right: var(--space-xs);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}
