.ks-select-styled-wrapper {
  display: inline-block;
  overflow: hidden;
  padding-right: 3px;

  & > .ks-label-text {
    display: inline-block;
    margin-right: 5px;
    &:after {
      content: ':';
    }
  }

  span {
    position: relative;
    max-width: 100%;
    margin: 0;

    svg {
      position: absolute;
      right: var(--space-xs);
      top: var(--space-xxs);
      z-index: -1;
    }

    select {
      cursor: pointer;
      width: 100%;
      background-color: transparent;
      font-size: var(--font-base-size);
      border: 1px solid var(--c-frame);
      border-radius: var(--radius-m);
      height: 40px;
      margin: auto 0;
      padding: 0.3rem 2rem 0.3rem 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
    }
  }
}
