.ks-text-input-wrapper {
  > input,
  > textarea {
    box-sizing: border-box;
    padding: 3px 8px;
    border: 1px solid var(--c-frame);
    background-color: var(--c-bg);
    border-radius: var(--radius-m);
    // font-size: 0.75rem;
    width: 100%;
  }

  > textarea {
    padding: var(--size-s);
  }

  > input {
    height: 33px;
  }
}
