.ks-text-field {
  margin-top: var(--space-m);

  &__label {
    display: block;
    line-height: var(--space-l);
  }

  &__wrapper > input {
    --text-field-border-color: var(--c-frame, hsl(0, 0%, 87%));
    --text-field-size: var(--space-xl, 40px);
    background-color: var(--c-bg);
    border: 1px solid var(--text-field-border-color);
    border-radius: var(--radius-m);
    height: var(--text-field-size);
    line-height: var(--space-xl);
    width: 100%;
    padding-left: var(--space-s);
    padding-right: var(--space-s);

    &:focus {
      border-color: var(--c-focus);
    }
    .ks-text-field--size-s & {
      --text-field-size: var(--space-l, 24px);
    }
  }

  &__description,
  &__description > p {
    font-size: var(--font-size-s);
    line-height: var(--space-m);
    color: var(--c-text-subdued);
  }

  &__description {
    margin-top: var(--space-xxs);
    margin-left: var(--space-xxs);
  }

  &__error {
    color: var(--c-error);
    margin-top: var(--space-xxs);
  }

  &--inline {
    display: flex;
    align-items: flex-start;

    .ks-text-field__label {
      margin-right: var(--space-xs);
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
    }

    .ks-text-field__inline-wrapper {
      flex: 1;
    }
  }

  &--flush {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--has-error {
    .ks-text-field__wrapper > input {
      border-color: var(--c-error);

      &:focus {
        border-color: var(--c-focus);
      }
    }
  }

  &__wrapper--icon {
    position: relative;

    > input {
      padding-right: var(--space-xl);
    }

    .ks-text-field__end-icon {
      opacity: 0.4;
      position: absolute;
      top: var(--space-xs);
      right: var(--space-xs);
    }
  }
}
