// Variable definitions
:root {
  --spacing-m: 15px;
  --spacing-l: 20px;
  --spacing-xl: 30px;
  --spacing-xxl: 40px;
  --spacing-xxxl: 50px;
  --color-primary: rgb(19, 27, 37);
  --color-c2a: rgb(0, 111, 182);
  --color-gray: rgb(225,225,225);
  --color-blue-dark: rgb(26, 31, 76);
  --color-knapsack-blue-light: #01a7cc;
  --color-knapsack-blue-dark: #005f9c;
  --color-knapsack-yellow-light: #ffaf00;
  --color-knapsack-orange: #ff5b02;
  --background-gradient-blue: linear-gradient(var(--color-knapsack-blue-light) 0px, var(--color-knapsack-blue-dark));
  --background-gradient-yellow: linear-gradient(var(--color-knapsack-yellow-light) 0px, var(--color-knapsack-orange));
  --breathing-room: 80px 30px;
}

@media (min-width: 630px) {
  :root {
    --breathing-room: 120px 30px;
  }
}

// Custom styles below
.homeContainer {
  &::after {
    content: "";
    display: block;
    height: 125px;
    width: 100%;
    margin: 0px 50px 0px 0px;
    background: linear-gradient(to right bottom, var(--color-knapsack-blue-dark) 49.9%, transparent 50.1%);
  }
}

.homeSplashFade {
  text-align: center;
  background: var(--background-gradient-blue);
  padding: var(--breathing-room);

  .projectTitle {
    color: #FFF;
    font-size: 60px;
    margin-bottom: 2rem;
  }
}

.featuresBlock {
  > .wrapper {
    padding: var(--breathing-room);
  }
  &::after {
    content: "";
    display: block;
    height: 125px;
    width: 100%;
    margin: 0px 50px 0px 0px;
    background: linear-gradient(to left top, var(--color-knapsack-yellow-light) 49.9%, transparent 50.1%);
  }
  h1 {
    color: var(--color-c2a);
  }
  .blockImage {
    max-width: 120px;
  }
}

.gettingStartedBlock {
  background: var(--background-gradient-yellow);
  padding: var(--breathing-room);
  color: #FFF;
  code {
    background-color: rgb(255, 136, 3);
    display: block;
    font-family: monospace;
    font-size: 24px;
    max-width: 600px;
    padding: var(--spacing-xxl);
    margin: 0 auto 20px;
    @media (max-width: 660px){
      font-size: 18px;
    }
  }
}

.productShowcaseSection {
  background-color: var(--color-gray);
  padding: 0;
  &::before {
    content: "";
    display: block;
    height: 125px;
    width: 100%;
    margin: 0px 50px 0px 0px;
    background: linear-gradient(to right bottom, var(--color-knapsack-orange) 49.9%, transparent 50.1%);
  }
  .inner {
    padding: var(--breathing-room);
  }
  h1 {
    color: var(--color-blue-dark);
  }
  .user-wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    align-content: center;
    margin: 0 auto;
    flex-flow: row wrap;
  }
  .img-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    flex: 1 1 250px;
    background: linear-gradient(#ffaf00 30%, #ff5b02);
    img {
      padding: 0;
      border: 0;
      width: 110px;
      height: auto;
      z-index: 2;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
      border-radius: 50%;
    }
  }
  .user-badge {
    position: relative;
    overflow: hidden;
    margin: 0;
    display: flex;
    min-height: 200px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
    font-size: 1.8rem;
    background-color: #ffffff;
    margin: 0 0 40px;
    @media (min-width: 860px) {
      margin: 0;
    }
    @media (min-width: 440px) {
      width: 400px;
    }
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 2 1 100%;
      z-index: 1;
      opacity: 1;
      padding: 30px 10px;
      position: relative;
      &:before {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -105px;
        content: '';
        width: 105px;
        height: 0;
        border-style: solid;
        border-width: 250px 105px 250px 0px;
        border-color: transparent #fff transparent transparent;
        box-sizing: inherit;
      }
    }
    h5,
    blockquote {
      line-height: 1.6em;
      color: #000;
    }
    h5 {
      margin: 10px 0;
      line-height: 1.1em;
      font-weight: 900;
    }
    blockquote {
      background-color: transparent;
      border-left: 0;
      padding: 0;
      margin: 0;
      font-style: italic;
    }
  }
}

.learnMoreBlock {
  background: url(/img/bedrock.jpg) 0 0 / cover;
  padding: 180px 30px 120px;
  position: relative;
  h1 {
    color: #FFF;
  }
  a.button, h1 {
    position: relative;
    z-index: 2;
  }
  &::before {
    display: block;
    position: absolute;
    content: " ";
    top: 0px;
    left: 0px;
    height: 125px;
    width: 100%;
    margin: 0px 50px 0px 0px;
    background: linear-gradient(to right bottom, var(--color-gray) 49.9%, transparent 50.1%);
    z-index: 2;
  }
  &::after {
    display: block;
    position: absolute;
    content: " ";
    background: linear-gradient(to bottom, rgba(26,31,76,.4) 40%, #20232a 90%);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

// Global elements
@media (max-width: 1023px){
  .navigationSlider .slidingNav ul {
    background: var(--color-knapsack-blue-light);
  }
}
.nav-footer {
  margin-top: var(--spacing-xxxl);
  .homepage-landing + & {
    margin-top: 0;
  }
}

// Misc elements
.button {
  border-color: #FFF;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  padding: var(--spacing-m) var(--spacing-l);
  transition: all 0.2s ease-in-out;
  &:hover {
    background: rgba(0,0,0, 0.25);
  }
  & + .button {
    margin-left: var(--spacing-m);
  }
  &.button--c2a {
    background: #FFF;
    border-color: var(--color-c2a);
    color: var(--color-c2a);
    &:hover {
      background: transparent;
      border-color: #FFF;
      color: #FFF;
    }
  }
}


.blockSectionTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: calc(var(--spacing-xl)*2);
  font-size: 36px;
  @media (min-width: 630px) {
    font-size: 48px;
  }
}

// Inherited Styling Overrides
.mainContainer {
  padding: 0;
}
