.colors-page__demo-box {
  display: inline-block;
  min-height: 135px;
  margin: 0 2.5rem 2.5rem 0;
  position: relative;
  width: 325px;
  vertical-align: top;
  padding: 0.7rem;
}

.colors-page__text-color-demo {
  display: inline-block;
  margin: 0 2.5rem 2rem 0;
  position: relative;
  width: 325px;
  vertical-align: top;
  padding: 0.7rem;
  * {
    color: inherit;
  }
}

.colors-page__hr-demo {
  margin-bottom: 3rem;

  p {
    margin: 0;
    display: block;
    clear: left;
  }

  hr {
    float: left;
  }

  &__demo {
    display: block;
    width: 300px;
  }
}
