.ks-demo-stage {
  position: relative;
  flex-grow: 1;
  display: flex;

  &--full {
    display: block;

    .ks-demo-stage__stage {
      border-right-width: 1px;
      border-top-right-radius: 1px;
      border-bottom-left-radius: 0;
    }

    .ks-demo-stage__form {
      border-top-width: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: var(--space-xs);
    }
  }

  &--has-demos {
    .ks-demo-stage__stage {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .ks-demo-stage__form {
      border-top-right-radius: 0;
    }
  }

  &__stage {
    background-color: var(--c-shade);
    border: 1px solid var(--c-frame);
    border-right-width: 0;
    border-top-left-radius: var(--space-xs);
    border-bottom-left-radius: var(--space-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-xs);
    width: 100%;
    position: relative;

    &__open-btn {
      position: absolute;
      top: var(--space-xxs);
      right: var(--space-xxs);
      z-index: 50;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    overflow: initial;
    overflow-y: visible;
    border: 1px solid var(--c-frame);
    border-top-right-radius: var(--space-xs);
    border-bottom-right-radius: var(--space-xs);
    position: relative;
    padding: var(--space-xs) var(--space-s);
    width: 100%;

    @media (max-width: calc(var(--bp-large) - 1px)) {
      width: 100% !important;
    }

    &__inner {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 800px;

      fieldset > legend,
      fieldset > legend + p {
        display: none;
      }

      form > div > label {
        display: none;
      }
    }

    &__header {
      margin-bottom: var(--space-m);
    }

    &__header__title {
      display: flex;
      align-items: flex-start;
      margin-bottom: var(--space-xxs);

      h3 {
        flex: 1;
        margin: 0;
      }
    }
  }
  @media (max-width: calc(var(--bp-large) - 1px)) {
    display: block !important;

    &__stage,
    &__form {
      width: 100% !important;
    }
  }
}
