.ks-edit-template-demo {
  &__title {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-left: var(--space-xxs);
    width: 20px;
    height: 20px;
  }
  &__intro {
    color: var(--c-text-subdued);
  }
  &__form {
    margin-top: var(--space-m);
  }
  &__delete {
    margin-left: var(--space-m);
  }
}
