.ks-edit-template-demo {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > h5,
    & > div {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-right: var(--space-xxs);
    width: var(--space-l);
    height: var(--space-l);
  }
  &__form {
    margin-top: var(--space-m);
  }
  &__delete {
    margin-left: var(--space-m);
  }
}
