.ks-slots-form {
  &__slot {
    & + & {
      padding-top: var(--space-m);
      margin-top: var(--space-m);
      border-top: 1px solid var(--c-frame);
    }

    &__slot-name {
      margin-bottom: var(--space-xs);
    }
  }

  &__slot-item {
    padding: var(--space-xxs);
    position: relative;

    &:hover {
      background-color: var(--c-shade);
    }

    & + & {
      margin-top: var(--space-xs);
    }

    .ks-select {
      vertical-align: bottom;

      select {
        background-color: var(--c-bg);
      }
    }
  }

  &__slot-controls {
    position: absolute;
    top: var(--space-xxs);
    right: var(--space-xxs);
  }

  &__add-buttons {
    margin-top: var(--space-m);
  }

  &__pattern-link {
    display: inline-block;
    vertical-align: bottom;
    line-height: var(--space-xl);
    padding-left: var(--space-xs);

    svg {
      vertical-align: bottom;
      height: var(--space-xl);
    }
  }
}
