.ks-slots-form {
  &__add-buttons {
    border: var(--util-border);
    padding: var(--size-xs);
    margin-bottom: var(--size-m);
  }
  &__slot {
    border: solid 1px var(--c-gray-dark);
    padding: var(--size-s);
    margin-bottom: var(--size-m);
  }
  &__slot-item {
    border: var(--util-border);
    padding: var(--size-xs);
  }
}
