body {
  color: var(--c-text-default);
  font-family: var(--font-family);
  font-size: var(--font-base-size);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

textarea {
  width: 100%;
}

main {
  display: block;
}

details summary:hover {
  cursor: pointer;
}

details:active,
details:focus {
  outline: none;
}

:focus {
  // outline-color: var(--c-focus);
  // @todo come up with focus state that is accessible and doesn't look bad
  outline: none;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: var(--c-frame);
  width: 75%;
  margin: var(--space-l) auto;
}

code {
  background: var(--c-frame);
  padding: 0 var(--space-xxs);
  border-radius: var(--space-xxxs);
  display: inline-block;
}

pre {
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  position: relative;
  padding: 0;
  margin: 0;
  code {
    padding: 1.75em;
    background: var(--c-text-default);
    color: white;
    width: 100%;
    display: block;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    border-radius: 0;
  }
}

/* stylelint-disable selector-max-id */
#app {
  min-height: 100vh;
}

button,
input,
optgroup,
select,
textarea {
  font-size: var(--font-base-size);
}
