/* React Table Styling Fixes */

/* stylelint-disable selector-max-class */
.ReactTable .rt-table {
  .rt-thead.-header {
    box-shadow: none;
    border-bottom: 1px solid var(--c-frame);
    font-weight: bold;
  }

  .rt-th.rt-resizable-header {
    background: var(--c-shade);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    color: var(--c-text-default);
    font-weight: normal;

    &:focus,
    &:active {
      outline: none;
    }

    &.-sort-asc {
      box-shadow: none;
      border-top: 3px solid var(--c-active);
    }

    &.-sort-desc {
      box-shadow: none;
      border-bottom: 3px solid var(--c-active);
    }
  }
  .rt-thead.-filters {
    background: var(--c-shade);
  }
  .rt-tbody {
    .rt-td:first-child {
      background: var(--c-shade);
      color: var(--c-active);
      font-weight: bold;
    }
  }
}
