.ks-u-shade-bg {
  background-color: var(--c-shade);
  .ks-u-shade-bg {
    background-color: var(--c-bg);
  }
}

$spaces: [ 'xxxs', 'xxs', 'xs', 's', 'm', 'l', 'xl', 'xxl', 'xxxl' ];
@each $space in $spaces {
  .ks-u-margin-top--#{$space} {
    margin-top: var(--space-#{$space}) !important;
  }
  .ks-u-margin-bottom--#{$space} {
    margin-bottom: var(--space-#{$space}) !important;
  }
}

.ks-u-margin-top--none {
  margin-top: 0 !important;
}
.ks-u-margin-bottom--none {
  margin-bottom: 0 !important;
}

.ks-eyebrow {
  color: var(--c-text-subdued);
  font-size: var(--font-base-size);
  font-weight: normal;
  margin-bottom: 0;
}
