.ks-breakpoints-demo__breakpoint-list {
  width: 100%;
  position: relative;
  overflow-y: hidden;
  li {
    list-style-type: none;
  }
}

.ks-breakpoints-demo__breakpoint-item {
  position: absolute;
  border-left: solid 3px var(--c-frame);
  opacity: 0.7;
  height: 100%;

  & > .label {
    display: block;
    background: var(--c-frame);
    opacity: 0.7;
    padding: 3px;
    color: white;
  }

  &:hover {
    opacity: 1;
    z-index: 2;
    & > .label {
      opacity: 1;
    }
  }
}

.ks-breakpoints-demo__device-width-list {
  max-width: 20px;
  padding-top: 20px;
}

.ks-breakpoints-demo__device-item {
  border-bottom: solid 3px var(--c-frame);
  text-align: right;
  margin-bottom: var(--space-m);
  padding-right: var(--space-m);
  border-right: solid 3px var(--c-frame);
}
