.ks-rjsf {
  &.ks-rjsf--inline {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    > * {
      margin: var(--space-s) var(--space-xs) 0 0;
    }
    .ks-text-field {
      margin-bottom: 0;
    }
  }
  .panel-title {
    font-size: var(--font-base-size);
  }

  .error-detail {
    font-size: var(--font-size-s);
    padding-top: var(--space-xxs);
  }

  .text-danger {
    color: var(--c-error);
  }

  .panel-danger {
    background-color: var(--c-shade);
    padding: var(--space-xs);
    border-radius: var(--radius-l);
    .ks-u-shade-bg & {
      background-color: var(--c-bg);
    }
  }
}

// stylelint-disable
.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3
> .ks-custom-object {
  display: flex;
  justify-content: space-between;
}

.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3
> .ks-custom-object
> .ks-custom-object-item {
  width: 30%;
}

.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2
> .ks-custom-object {
  display: flex;
  justify-content: space-between;
}

.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2
> .ks-custom-object
> .ks-custom-object-item {
  width: 48%;
}
