.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3 > .ks-custom-object {
  display: flex;
  justify-content: space-between;
}

.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3.ks-rjsf-custom-object-grid-3 > .ks-custom-object > .ks-custom-object-item {
  width: 30%;
}

.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2 > .ks-custom-object {
  display: flex;
  justify-content: space-between;
}

.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2.ks-rjsf-custom-object-grid-2 > .ks-custom-object > .ks-custom-object-item {
  width: 48%;
}
