.ks-add-entity {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &__popup {
    display: none;
  }

  &--active {
    .ks-add-entity__popup {
      display: block;
      position: absolute;
      bottom: 120%;
      width: 400px;
      border-radius: var(--radius-l);
      box-shadow: var(--shadow);
      background-color: var(--c-bg);
      padding: var(--space-m);
      z-index: 99;
    }
  }

  .ks-radio-group {
    input {
      margin-right: var(--space-xs);
    }
    label {
      position: relative;
      display: inline;
    }
    &__subtitle {
      font-size: var(--font-size-s);
      color: var(--c-text-subdued);
      display: block;
      margin: 0 0 var(--space-xs) var(--space-l);
    }
  }

  label {
    display: block;
    color: var(--c-black);
    font-size: var(--font-base-size);
    font-weight: normal;
    line-height: var(--space-l);
  }

  .ks-text-input-wrapper {
    width: 74%;
    display: inline-block;
    margin-right: var(--space-xs);
    input {
      box-sizing: border-box;
      height: 40px;
      border: 1px solid var(--c-frame);
      background-color: var(--c-bg);
      border-radius: var(--radius-m);
      font-size: 0.75rem;
      width: 100%;
    }
  }
}

