.ks-add-entity {
  position: relative;
  &:hover {
    cursor: pointer;
  }
  .ks-add-entity-popup {
    display: none;
  }
  &--active {
    .ks-add-entity-popup {
      display: block;
      position: absolute;
      bottom: 120%;
      width: 400px;
      border-radius: var(--radius-l);
      box-shadow: var(--shadow);
      background-color: var(--c-bg);
      padding: var(--space-m);
    }
  }
}
