.ks-secondary-nav {
  height: 100%;
}

// Creates some bottom padding in the virtual scroller
// to accomidate for the edit panel.
.rst__virtualScrollOverride:after {
  content: " ";
  display: block;
  width: 100%;
  height: calc(var(--space-xl) * 2);
}
