.ks-pattern-settings {
  --text-field-size: var(--space-l);
  --font-base-size: var(--font-size-s);
  height: 100%;
  overflow: auto;
  padding: var(--space-m);

  &:after {
    // create bottom padding
    content: " ";
    display: block;
    width: 100%;
    height: var(--space-m);
  }

  .ks-text-field__wrapper > input {
    --text-field-size: var(--space-l);
  }
}
